
    footer{
        
        background-color: #333333;
       padding: 100px;
        }


            .fotrow1{


                
                p{
                    color: #afafaf;
                   
                    
                    }
                ul{
                    a{
                        i{
                            color: white;
                            
                            &:hover
                                {
                                    color: #FB5D5D;
                                    }
                            }
                        
                        }
                    
                    }
                
                }

.fotrow2{
    
    ul{
        li{
            
            h2{
                color: #fff;
                
                }

                    a{
                        color: #afafaf;
                        
                          &:hover
                            {
                                color: #FB5D5D;
                                }
                        }
            
            }
        
        }
    
    }

        .fotrow3{
    
    ul{
        li{
            
            h2{
                color: #fff;
                
                }

                    a{
                        color: #afafaf;
                        
                          &:hover
                            {
                                color: #FB5D5D;
                                }
                        }
            
            }
        
        }
    
    }


    .fotrow4{
    
    ul{
        li{
            
            h2{
                color: #fff;
                
                }

                    a{
                        color: #afafaf;
                        
                        &:hover
                            {
                                color: #FB5D5D;
                                }
                        }
            
            }
        
        }
    
    }


        .fotrow5{
            
            ul{
                
                li{
                    h2{
                        color: #fff;
                        }
                    color: #afafaf;
                    }
                }
            
            }





.endfoot{
    background-color: #393939;
    padding: 20px;
   
    text-align: center;
    span{
        
        color:#D8D8D8;
        }
    }