.header-bar{
    
 
    background-color:#242424;
     color: #b5b5b5;
     text-align: center;
     padding: 15px;
     
    }

.secondnav{
    
    ul{
        display: flex;
        
        }
    
    }
    